- content_for :head do
  %script{:type => "text/javascript", :src => "/javascripts/jquery.autoresize.js"}
  %script{:type => "text/javascript",:src => "/javascripts/wall.js"}
  
- content_for :nav do
  %a{:href => "/walls/#{wall.url_name}/admin"} Admin
  |
  %a{:href => "/walls/#{wall.url_name}/columns/#{wall.columns.sort.first.id}/stories/new", :id => 'add_story'} Add Story 
  |
  %a{:href => "/walls/#{wall.url_name}/columns/new", :id => 'add_column'} Add Column

%article.columns
  .container_16.max_height
    %div.grid_16.max_size
      %table.max_size
        %tr
          - for column in wall.columns.sort
            - width = 100 / wall.columns.size
            - is_first_column = wall.columns.sort.first == column
            %td &nbsp;
            %td{:style => "width: #{(width > 25) ? 25 : width}%", :class => "#{is_first_column ? 'column_container_left' : ''} #{wall.columns.sort.last == column ? 'column_container_right' : ''} column_container max_height"} 
              .column.max_size
                .column_contents
                  .column_title
                    %form{:action => "/walls/#{wall.url_name}/columns/#{column.id}", :method => "POST"}
                      %h3.column_editable= column.title
                      %input(type="hidden" name="_method" value="PUT")
                  .column_stories
                    %ul{:id => "column_#{column.id}", :class => "sortable #{is_first_column ? 'first_column' : ''}"}
                      - for story in column.stories.sort
                        %li.story.story_orange{:id => "#{story.id}"}
                          %form.storytext{:action => "/walls/#{wall.url_name}/columns/#{column.id}/stories/#{story.id}", :method => "POST"}
                            %p.editable=  story.title_html
                            %input(type="hidden" name="_method" value="PUT")
              %div &nbsp;
            %td &nbsp;
    %li.new_story.empty_story.story.story_orange
      %form.storytext{:method => "POST", :action => "/walls/#{wall.url_name}/columns/#{column.id}/stories"}
        %p.editable No Content
:javascript
  var wall_name = "#{wall.name}"
  var column_ids = #{wall.columns.inject([]) { |i, m| i << "#column_#{m.id}" }.to_json}