- content_for :head do
  %script{:type => "text/javascript", :src => "/javascripts/jquery.autoresize.js"}
  %script{:type => "text/javascript",:src => "/javascripts/wall.js"}
  
- content_for :nav do
  %a{:href => "/walls/#{wall.url_name}/admin"} Admin
  |
  %a{:href => "/walls/#{wall.url_name}/columns/#{wall.columns.sort.first.id}/stories/new", :id => 'add_story'} Add Story 
  |
  %a{:href => "/walls/#{wall.url_name}/columns/new", :id => 'add_column'} Add Column

%article
  .container_16.max_height
    %div.grid_16.max_size
      %table.max_size
        %tr.columns
          %td#first_column
          - for column in wall.columns.sort
            - width = 100.0 / wall.columns.size
            - is_first_column = wall.columns.sort.first == column
            - is_last_column = wall.columns.sort.last == column
            - max_width = 25
            %td{:id => "column_#{column.id}", :style => "width: #{(width > max_width) ? max_width : width}%", :class => "column max_height #{is_first_column ? 'column_left' : ''} #{is_last_column ? 'column_right' : ''}".strip} 
              %div.max_height
                .column_title
                  %form{:action => "/walls/#{wall.url_name}/columns/#{column.id}", :method => "POST"}
                    %h3.column_editable= column.title
                    %input(type="hidden" name="_method" value="PUT")
                .column_stories
                  %ul{:id => "column_#{column.id}", :class => "sortable max_height #{is_first_column ? 'first_column' : ''}".strip}
                    - for story in column.stories.sort
                      %li.story.story_orange{:id => "#{story.id}"}
                        %form.storytext{:action => "/walls/#{wall.url_name}/columns/#{column.id}/stories/#{story.id}", :method => "POST"}
                          %p.editable=  story.title_html
                          %input(type="hidden" name="_method" value="PUT")
          %td#last_column
          
          
    %li.new_story.empty_story.story.story_orange
      %form.storytext{:method => "POST", :action => "/walls/#{wall.url_name}/columns/#{column.id}/stories"}
        %p.editable No Content
        
    .new_column
      .column_title.empty_column
        %form{:action => "/walls/#{wall.url_name}/columns/0", :method => "POST"}
          %h3.column_editable New Column
          %input(type="hidden" name="_method" value="PUT")
      .column_stories
        %ul{:id => "column_0", :class => "sortable"}

:javascript
  var wall_name = "#{wall.name}"
  var column_ids = #{wall.columns.inject([]) { |i, m| i << "#column_#{m.id}" }.to_json}