<h1>New column</h1>

<% form_for(@column) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
	<%= f.hidden_field :project_id %>
<% end %>

<%= link_to 'Back', columns_path %>