<% content_for :header do %>
	<h1 id="wall-title"><%= @project.title %> Admin</h1>
	<%= javascript_include_tag "users.js" %>
<% end %>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
	<label>Users</label>
	<div id="users">
		<% @project.users.each do |user| %>
	
			<p>
				<%= user.email %>
				<% if user.id != @user.id then %>
				&nbsp;<a href="#">remove</a>
				<% end %>	
			</p>
	  	
		<% end %>
	</div>
	
	<p>
		<input id="newuseremail" type="text" /><a href="#" id="addnewuser">add</a>
	</p>

  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>