- content_for :nav do
  %a{:href => "/walls/#{wall.url_name}/"} Wall
- for column in wall.columns
  %form{:action => "/walls/#{wall.url_name}/columns/#{column.id}", :method => "POST"}
    %p= column.title
    %input(type="hidden" name="_method" value="delete")
    %input(type="submit" value="Remove")
%form{:action => "/walls/#{wall.url_name}/columns/new", :method => "POST"}
  %label(for='new_column[title]') Title
  %input(type='text' id="new_column[title]" name="new_column[title]")
  %input(type="submit" value="Add")
%form{:Action => "/walls/#{wall.url_name}", :method => "POST"}
  %input(type='hidden' name="_method" value="DELETE")
  %input(type="submit" value="Delete Wall")
