<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title></title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag "jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8rc3.custom.min.js" %>
</head>
<body>

	<div id="header"> 
		<%= yield :header %>
		<div class="header-menu">
			<%= link_to 'Dashboard', :controller => 'projects' %> | <%= link_to 'Logout', :controller => 'user', :action => 'logout' %>
		</div>
	</div> 
	<div id="content"> 
		<%= yield %>
	</div> 
	<div id="footer"> 
		<%= yield :footer %>
	</div>

<p style="color: green"><%= flash[:notice] %></p>



</body>
</html>
